@import 'css-modules/header.css';
@import 'css-modules/hero.css';
@import 'css-modules/abilities.css';
@import 'css-modules/portfolio.css';
@import 'css-modules/footer.css';
@import 'css-modules/mediaquery.css';

:root {
	--font-size-title: 40px;
	--font-size-subtitle: 32px;
	--font-size-normal: 24px;
	--font-size-mini: 16px;

	--font-primary: "Montserrat", sans-serif;
}

.theme-light {
 --text-color: #474747;
    --background-primary: #8dbdff;
	--foreground-primary: #4f8bf9;
	--background-secondary: hsl(44, 95%, 77%);
	--foreground-secondary: #ec8a00;
}

.theme-dark {
    --text-color: #fff;
	--background-primary: #212121;
	--foreground-primary: #71a0a5;
	--background-secondary: #372b5a;
	--foreground-secondary: #fab95b;
}

html, body {
	padding: 0;
	margin: 0;
	color: var(--text-color);
	background-color: var(--background-primary);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}